%h1 Listing stations

%table.table.table-striped
  %thead
    %tr
      %th Name
      %th Zone
      %th
  %tbody
    - @stations.each do |station|
      %tr
        %td= link_to station.name, station
        %td= station.zone
        %td= link_to 'Edit', edit_station_path(station)
