%h1 Listing trains

%table.table.table-striped
  %thead
    %tr
      %th Number
      %th Direction
      %th

  %tbody
    - @trains.each do |train|
      %tr{ class: train_class(train) }
        %td= link_to train.number, train
        %td #{train.direction.capitalize}bound
        %td= link_to 'Edit', edit_train_path(train)
