%h1 Listing trains

%table.table.table-striped
  %thead
    %tr
      %th Number
      %th Type
      %th

  %tbody
    - @trains.each do |train|
      %tr
        %td= link_to train.number, train
        %td= train.schedule_type
        %td= link_to 'Edit', edit_train_path(train)
